storage "file" {
  path = "${data_dir}"
}

disable_mlock = true

listener "tcp" {
  address     = "${bind_ip}:${bind_port}"
  tls_disable = ${tls_disable}
}

ui = true

audit "file" {
  path    = "${logs_dir}/audit.log"
  format  = "json"
}
